<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <button mat-raised-button [routerLink]="['personajes']">Personajes</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button mat-raised-button [routerLink]="['personajes']">Nombre</button>
            <button mat-raised-button [routerLink]="['personajes']">Peso</button>
            <button mat-raised-button [routerLink]="['personajes']">Altura</button>
        </div>
    </div>
</div>